.content-layout {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.search-bar {
  padding-top: 10px;
  padding-bottom: 40px;
}
.job-list {
  background-color: white;
  padding: 30px !important;
}

.ant-badge-not-a-wrapper:not(.ant-badge-status) {
  margin-right: 8px;
}

.filter-list {
  padding-right: 22px !important; 
}

.filter-row {
  padding-top : 25px;
}

.filter-field {
  padding-top : 10px;
}